$primary-color: #FFFFFF;
$secondary-color: #f41839;
$border-size: 4px;
$border-type: solid;
$opacity: 0.6;

#loading {
    position: fixed;
    z-index: 9999;
    height: 10em;
    width: 60em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    p {
        color: #FFFFFF;
        font-weight: bold;
        text-shadow: #000 1px 1px 2px;
        z-index: 9999;
        position: relative;
    }

    &::before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, $opacity);
        background-repeat: no-repeat;
        background-position: center;
    }
    .text-center{
        text-align: center;
    }
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border: $border-size $border-type $primary-color;
    border-radius: 50%;
    border-top: $border-size $border-type $secondary-color;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
